/*Base styles*/
*{
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: "#333";
  background-color: var(--main-bg-color);

}

#root{
  --main-bg-color: #e1e1e1;
  --highlight-color: rgb(118, 0, 196);
  --highlight-color-weak: rgba(118, 0, 196, 0.25);
  --block-color: rgb(74, 74, 74);
  --text-color: rgb(71, 71, 71);
  --content-margin: 5%;
}

.App{
  width: 100vw;
  height: 100vh;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 2% var(--content-margin) 2% var(--content-margin);
  max-width: 100%;
  margin-bottom: 1vw;
  /*border-bottom: 4px solid var(--block-color);*/
}

.navbar h1 {
  font-size: 2em;
  color: var(--text-color);
}

.navbar .links {
  margin-left: auto;
  font-size: 1.5em;
}

.navbar a {
  margin-right: 16px;
  text-decoration: none;
  padding: 4px;
  color: var(--text-color);
  font-weight: bold;
  border-left: 4px solid var(--highlight-color);
}

.navbar a:hover {
  color: var(--highlight-color);
}

.dropdown{
  position: relative;
  display: inline-block;
  padding: 4px;
}

.dropdown-content{
  display: none;
  position: absolute;
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  top: 100%;
  z-index: 1;
  border-left: 4px solid var(--highlight-color);
  background-color: #e1e1e100;
}

/* .dropdown:hover{
  background-color: var(--highlight-color-weak);
} */

.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
}

.navbar .dropdown-item{
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 4px;
  color: var(--text-color);
  background-color: #e1e1e100;
  border-left: 0px solid var(--highlight-color);
}

.content {
  flex-grow: 1;
  width: 100vw;
}

.pageHeader{
  color: var(--text-color);
  margin-left: 10%;
  width: fit-content;
  text-align: left;
}

.homePage{
  height: 100%;
}

.homePageContent{
  display: flex;
  justify-content: space-between;
  margin: 0 5% 0 5%;
}

.homePageImage{
  height: 60vh;
  border-radius: 10px;
}

.dropshadow{
  box-shadow: 5px 5px 5px var(--highlight-color-weak);
}

.homeNavButtons{
  text-align: left;
  /*margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 20px;*/
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-left: 4px solid var(--highlight-color);
}

.navButton{
  color: var(--main-bg-color);
  /*margin: 10px;*/
  height: 50px;
  width: 150px;
  font-size: 1.5em;
  border-radius: 5px;
  margin: 1vh;
  cursor: pointer;
  border: none;
  background-color: var(--block-color);
}

.navButton:hover{
  background-color: var(--highlight-color);
  /*box-shadow: 0 0 10px 3px var(--highlight-color);*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
